/* estilo css*/
#bv{
    background-color:blue;
    text-align: center;
}
#lista{
    background-color: fuchsia;
}
#carrosel{
    background: purple;
    text-align: center;
}
#img-1{
    background-color: green;
}
#img-2{
    background-color: greenyellow;
}
#img-3{
    background-color: greenyellow;
}
#img-4{
    background-color: green;
}
#contato{
    background-color: yellow;
}
#localização{
    background-color: saddlebrown;
}
#rodape{
    background-color: black;
    text-align: center;
}